/* You can add global styles to this file, and also import other style files */
body {
  color: #6f6f6f;
}

a.nav-link, .nav-link:visited {
  color: lightcoral;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

a.nav-link.active-link {
  text-decoration: none;
  color: #6f6f6f;
  cursor: default;
  &:hover {
    text-decoration: none;
  }
}

